<!DOCTYPE html>
<html>
<head>
    {{ partial "head" . }}
</head>
<body id="body" data-theme="auto" data-section="dynamic">
    <header class="header">
        {{ partial "header" . }}
    </header>
    
    <main class="main" data-url="dynamic" data-keyword="">
        <div class="home-container">
            <div class="post-container">
                {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Section) }}
                {{ range $paginator.Pages }}
                    {{ if not .Params.hidden }}
                        {{ if .Params.isred }}
                        <div class="post" style="min-height: 50px;box-shadow: 3px 0 0 0 rgb(216, 89, 89) inset;" >
                        {{ else }}
                        <div class="post" style="min-height: 50px;" >
                        {{ end }}
                            <div class="post-Img-container" style="max-height:500px;justify-content: center;display: inline-flex;flex-wrap: wrap;-ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;flex: none;">
                                {{ $banner := .Page.Resources.ByType "image"}}
                                {{ if eq (len $banner) 1 }}
                                    {{ $banner := index $banner 0 }}
                                    <div class="fiximg" style="border-bottom-left-radius: 0;border-bottom-right-radius: 0;display: block">
                                        <a href="{{$banner.Permalink}}">
                                            <img loading="lazy" src="{{ $banner.Permalink }}" style="max-height: 500px;" data-zommable>
                                        </a>
                                    </div>
                                {{ else }}
                                    {{ range $banner }}
                                        {{ $banner := index . }}
                                            <div class="fiximg" style="border-bottom-left-radius: 0;border-bottom-right-radius: 0;display: block">
                                                <a href="{{$banner.Permalink}}">
                                                    <img loading="lazy" src="{{ $banner.Permalink }}" style="max-height: 500px;" data-zommable>
                                                </a>
                                        </div>
                                    {{ end }}
                                {{ end }}
                            </div>
                            <div class="post-txt-container">
                                {{ partial "summary" . }}
                                <div class="post-txt-container-datetime">
                                    {{printf "%s" (.Date.Format "2006-01-02 15:04")}}
                                    <span class="important">{{.Keywords}}</span>
                                    {{ .Description }}
                                </div>
                            </div>
                        </div>
                    {{end}}
                {{end}}
                {{ .Scratch.Set "paginator" $paginator }}
                {{ partial "page" . }}
            </div>
            
            <aside class="info-container">
                <div id="info-container-inner" class="info-container-inner">
                    {{ partial "infoContainer" . }}
                </div>
            </aside>
            
        </div>
    </main>
<footer class="footer">
    {{ partial "footer" . }}
</footer>
</body>
</html>