<!DOCTYPE html>
<html>
<head>
    {{ partial "head" . }}
    <script src="/js/genshin.js" defer></script>
</head>
<body id="body" data-theme="auto" data-section="genshin">
    <header class="header">
        {{ partial "header" . }}
    </header>
    
    <main class="main" data-url="genshin" data-keyword="">
        <div class="home-container">
            <div class="post-container">
                
            </div>
            
            <aside class="info-container">
                {{ partial "infoContainer" . }}
            </aside>
            
        </div>
    </main>
<footer class="footer">
    {{ partial "footer" . }}
</footer>
</body>
</html>