<!DOCTYPE html>
<html>
<head>
    {{ partial "head" . }}
</head>
<body id="body" data-theme="auto" data-section="post">
    <header class="header">
        {{ partial "header" . }}
    </header>
    
    <main class="main" data-url="post" data-keyword="">
        <div class="home-container">
            <div class="post-container">
                {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Section) }}
                {{ range $paginator.Pages }}
                    <div class="post">
                        <div class="post-Img-container">
                            {{ $banner := .Page.Resources.Match "*index.webp"}}
                            {{ if ge (len $banner) 1 }}
                            {{ $banner := index $banner 0 }}
                            <div class="fiximg" style="width: 100%;border-bottom-left-radius: 0;border-bottom-right-radius: 0;display: block">
                                <a href="{{.Permalink}}" class="fiximg__container" style="padding-bottom: 30%;height: 0;display: block;margin: 0">
                                    <img loading="lazy" src="{{ $banner.Permalink }}" data-zommable>
                                </a>
                            </div>
                            {{ end }}
                        </div>
                        <div class="post-txt-container">
                            <a class="post-txt-container-title" href="{{.Permalink}}">
                                <h4>
                                    {{.Title}}
                                </h4>
                            </a>
                            {{ partial "summary" . }}
                            <div class="post-txt-container-datetime">
                                {{printf "%s" (.Date.Format "2006-01-02")}}
                                <span class="important">{{.Keywords}}</span>
                            </div>
                        </div>
                    </div>
                {{ end }}
                {{ .Scratch.Set "paginator" $paginator }}
                {{ partial "page" . }}
            </div>
            <aside class="info-container">
                <div id="info-container-inner" class="info-container-inner">
                    {{ partial "infoContainer" . }}
                </div>
            </aside>
        </div>
    </main>
<footer class="footer">
    {{ partial "footer" . }}
</footer>
</body>
</html>