<div class="nav-out">
    <nav class="nav">
        <a id="nav-index" class="blogName" href="{{ .Site.BaseURL }}">
            HIMEBLOG
        </a>
        <div class="nav-container">
            {{- $currentPage := . -}}
            {{- range .Site.Menus.main -}}
            {{- $pageMatch := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) -}}
                <div class="nav-content">
                    <a class="{{ if $pageMatch }}nav-link-active{{else}}nav-link{{ end }}" href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                </div>
            {{ end }}
        </div>
    </nav>
</div>