<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/favicon.ico">
<meta content="HIMEBLOG" name="title">
<meta content="Himesamanoyume" name="author-name1">
<meta content="Princess Dreamland" name="author-name2">
<meta content="姫様の夢" name="author-name3">
<meta name="baidu-site-verification" content="codeva-nqx06JEAul" />
<title>HIMEBLOG{{ if ne .Name "HIMEBLOG"}} | {{.Name}}{{end}}</title>
<link rel="stylesheet" href="/css/common.css"/>
<script src="/js/pixi.min.js"></script>
<script src="/js/pixi-sound.js"></script>
<script src="/js/pixi-spine.js"></script>
<script src="/js/jquery.js" defer></script>
<script src="/js/Funcs.min.js" defer></script>