
<hr>
<h1>军火</h1>
<div class="fiximg" style="width: 100%;;border-bottom-left-radius: 0;border-bottom-right-radius: 0;display: block">
<div class="fiximg__container" style="padding-bottom: 75.0000%;;height: 0;display: block;margin: 0">
    <img loading="lazy" src="./1694918302147.webp" alt="全家福" title="全家福"/>
</div>
</div>
<hr>
<h1>老婆墙</h1>
<h6>都是我的翅膀<span class="important">持续更新</span></h6>
<div class="mywaifu">
    <div class="fiximg" style="width: 100%;;border-bottom-left-radius: 0;border-bottom-right-radius: 0;display: block">
        <div class="fiximg__container" style="padding-bottom: 110.0000%;height: 0;display: block;margin: 0">
            <img loading="lazy" src="./Miyako_(Swimsuit)_full.webp" style="width:50%; left:45%" title="Miyako">
            <img loading="lazy" src="./Miyako_Portrait.webp" style="width:39%; left:5%" title="Miyako">
        </div>
    </div>
</div>
<div class="mywaifu">
    <div class="fiximg" style="width: 100%;;border-bottom-left-radius: 0;border-bottom-right-radius: 0;display: block">
        <div class="fiximg__container" style="padding-bottom: 89.8000%;height: 0;display: block;margin: 0">
            <img loading="lazy" src="./Character_Yoimiya_Full_Wish.webp" title="Yoimiya" style="position: relative;z-index:500;left:0%;"/>
            
        </div>
    </div>
    <img loading="lazy" src="./Azusa_Swimsuit_Portrait.webp" style="width:50%; left:0%;z-index:1005" title="Azusa">
    <img loading="lazy" src="./Mari_Gym_Portrait.webp" style="width:37%; left:18%;z-index:1005" title="Mari">
    <img loading="lazy" src="./Mika_School_Swimsuit_Portrait.webp" style="width:35%; left:45%;z-index:1005" title="Mika">
    <img loading="lazy" src="./slient_innocence.png" style="width:39%; left:69%;z-index:1005" title="SlientSuzuka">
    <img loading="lazy" src="./Ave_mujica_member_Mutsumi.webp" style="width:35%; left:16%;bottom: 15%;z-index:1004" title="Mutsumi">
    <img loading="lazy" src="./kita_ikuyo.webp" style="width:22%; left:68%;bottom:10%;z-index:1004" title="Kita">
    <img loading="lazy" src="./nazo01.png" style="width:40%;bottom:5%; left:1%;z-index:1000" title="銀花">
    <img loading="lazy" src="./ginka02.png" style="width:30%; left:37%;z-index:1005" title="Ginka">
    <img loading="lazy" src="./Character_Clara_Game.webp" style="width:24%;bottom:13%;left:71%;z-index:1003" title="Clara">
    <img loading="lazy" src="./murasame.png" style="width:25%;bottom:35%;left:20%;z-index:1003" title="Clara">
    <img loading="lazy" src="./ameri_pic.png" style="width:18%;bottom:18%;left:62%;z-index:1000" title="Ameri">
    <img loading="lazy" src="./asumi_pic.png" style="width:20%;bottom:23%;left:0%;z-index:1000" title="Asumi">
    <img loading="lazy" src="./hiyori_pic.png" style="width:20%;bottom:25%;left:80%;z-index:1000" title="Hiyori">
    <img loading="lazy" src="./Serina_(Christmas)_full.png" style="width:47%;bottom:33%;left:53%;z-index:999" title="Serina">
</div>
<div class="main-post-content">
    <h2>姓名</h2>
    <h6>不分先后不按顺序</h6>
    <div class="main-post-content-txt">
        <span class="important">蔚蓝档案(ブルーアーカイブ)</span>
        <p>
            <a href="./Miyako_(Swimsuit)_full.webp" target="_blank">月雪宫子(<ruby>月雪<rt class="ttt" data-rt="Tsukiyuki"></rt>ミヤコ<rt class="ttt" data-rt="Miyako"></rt></ruby>)</a> / <a href="./Miyako_Portrait.webp" target="_blank">制服</a>、
            <a href="./Mika_School_Swimsuit_Portrait.webp" target="_blank">圣园未花(<ruby>聖園<rt class="ttt" data-rt="Misono"></rt>ミカ<rt class="ttt" data-rt="Mika"></rt></ruby>)</a>、
            <a href="./Mari_Gym_Portrait.webp" target="_blank">伊落玛丽(<ruby>伊落<rt class="ttt" data-rt="Iochi"></rt>マリー<rt class="ttt" data-rt="Mari"></rt></ruby>)</a>、
            <a href="./Azusa_Swimsuit_Portrait.webp" target="_blank">白洲梓(<ruby>白洲<rt class="ttt" data-rt="Shirasu"></rt>アズサ<rt class="ttt" data-rt="Azusa"></rt></ruby>)</a>、
            <a href="./Serina_(Christmas)_full.png" target="_blank">鹫见芹奈(<ruby>鷲見<rt class="ttt" data-rt="Sumi"></rt>セリナ<rt class="ttt" data-rt="Serina"></rt></ruby>)</a>
        </p>
        <span class="important">原神</span>
        <p>
            <a href="./Character_Yoimiya_Full_Wish.webp" target="_blank"><ruby>宵宫<rt class="ttt" data-rt="Yoimiya"></rt></ruby></a>
        <p>
        <span class="important">崩坏:星穹铁道</span>
        <p>
            <a href="./Character_Clara_Game.webp" target="_blank"><ruby>克拉拉<rt class="ttt" data-rt="Clara"></rt></ruby></a>、流萤(待加入)
        <p>
        <span class="important">GINKA</span>
        <p>
            <a href="./nazo01.png" target="_blank">四之宫银花(<ruby>四ノ宮<rt class="ttt" data-rt="Shinomiya"></rt>銀花<rt class="ttt" data-rt="Ginka"></rt></ruby>)</a>、
            <a href="./ginka02.png" target="_blank"><ruby>ギンカ<rt class="ttt" data-rt="Ginka"></rt></ruby></a>
        </p>
        <span class="important">BanG Dream! It's MyGO!!!!! / BanG Dream! Ave Mujica</span>
        <p>
            <a href="./Ave_mujica_member_Mutsumi.webp" target="_blank">若叶睦(<ruby>若葉<rt class="ttt" data-rt="Wakaba"></rt>睦<rt class="ttt" data-rt="Mutsumi"></rt></ruby>)</a>
        </p>
        <span class="important">孤独摇滚!(ぼっち・ざ・ろっく!)</span>
        <p>
            <a href="./kita_ikuyo.webp" target="_blank"><ruby>喜多<rt class="ttt" data-rt="Kita"></rt>郁代<rt class="ttt" data-rt="Ikuyo"></rt></ruby></a>
        </p>
        <span class="important">千恋＊万花</span>
        <p>
            <a href="./murasame.png" target="_blank"><ruby>丛雨<rt class="ttt" data-rt="Murasame"></rt></ruby></a>
        </p>
        <span class="important">赛马娘(ウマ娘)</span>
        <p>
            <a href="./slient_innocence.png" target="_blank">无声铃鹿(<ruby>サイレンススズカ<rt class="ttt" data-rt="Silence Suzuka"></rt></ruby>)</a>
        </p>
        <span class="important">常轨脱离Creative(ハミダシクリエイティブ)/凸</span>
        <p>
            <a href="./ameri_pic.png" target="_blank">龙闲天梨(<ruby>竜閑<rt class="ttt" data-rt="Ryuukan"></rt>天梨<rt class="ttt" data-rt="Ameri"></rt></ruby>)</a>、
            <a href="./hiyori_pic.png" target="_blank">和泉妃爱(<ruby>和泉<rt class="ttt" data-rt="Izumi"></rt>妃愛<rt class="ttt" data-rt="Hiyori"></rt></ruby>)</a>、
            <a href="./asumi_pic.png" target="_blank">锦明日海(<ruby>錦<rt class="ttt" data-rt="Nishiki"></rt>あすみ<rt class="ttt" data-rt="Asumi"></rt></ruby>)</a>
        </p>
    </div>
</div>
