
<div class="main-post">
    <img loading="lazy" src="{{ "/indexMain.webp" }}" alt="头图">
    <h1>关于本站</h1><span class="important">网站处于Pre-alpha阶段</span>
    <div class="main-post-content">
        <div class="main-post-content-txt">
            
        </div>
        <h2>个人信息</h2>
        <div class="main-post-content-txt">
            <p>
                Unity3D学习者,FPS游戏爱好者,PC DIY知识储备OK,动漫宅,日本商业动画作画MAD观赏爱好者
            </p>
            <p>
                头像画师
                <a href="https://www.pixiv.net/users/1198913" target="_blank">
                    @<ruby>
                        ほし<rt class="ttt" data-rt="ho shi"></rt>
                    </ruby>
                </a>
            </p>
            <h3>喜欢的插画画师</h3>
            <p>
                <a href="https://www.pixiv.net/users/25760573" target="_blank">
                    @rurudo
                </a>,
                <a href="https://www.pixiv.net/users/16731" target="_blank">
                    @<ruby>
                        玉<rt class="ttt" data-rt="tama"></rt>
                        之<rt class="ttt" data-rt="no"></rt>
                        け<rt class="ttt" data-rt="ke"></rt>
                        だ<rt class="ttt" data-rt="da"></rt>
                        ま<rt class="ttt" data-rt="ma"></rt>
                    </ruby>
                </a>,等..
            </p>
            <h3>喜欢的动画原画师</h3>
            <p>中村丰,阿部望,金子秀一</p>
            <h3>喜欢的VOCALOID P主</h3>
            <p>
                <a href="https://space.bilibili.com/177291194" target="_blank">
                    @DECO*27
                </a>,
                <a href="https://space.bilibili.com/203655966" target="_blank">
                    @<ruby>
                        ピノキオピー<rt class="ttt" data-rt="PinocchioP"></rt>
                    </ruby>
                </a>
            </p>
        </div>
    </div>
    <h1>军火</h1>
    
</div>
    
